In [1]:
import sys, os
sys.path.append(os.path.abspath(".."))

from src.generator import EcommerceDataGenerator

EcommerceDataGenerator

src.generator.EcommerceDataGenerator

In [2]:
g = EcommerceDataGenerator(num_products=5,num_customers=10)
products = g.generate_products()
customers = g.generate_customers()
orders = g.generate_orders(products,customers)
products

[{'product_id': 1,
  'name': 'Gloves',
  'category': 'Grocery',
  'base_price': 275.99,
  'stock_quantity': 514},
 {'product_id': 2,
  'name': 'Tasty Concrete Chicken',
  'category': 'Tools',
  'base_price': 358.45,
  'stock_quantity': 286},
 {'product_id': 3,
  'name': 'Chair',
  'category': 'Health',
  'base_price': 248.5,
  'stock_quantity': 621},
 {'product_id': 4,
  'name': 'Bacon',
  'category': 'Garden',
  'base_price': 462.25,
  'stock_quantity': 245},
 {'product_id': 5,
  'name': 'Wooden Gloves',
  'category': 'Automotive',
  'base_price': 315.04,
  'stock_quantity': 670}]

In [ ]:
import inspect
print(inspect.getsource(EcommerceDataGenerator))

In [113]:
gg = EcommerceDataGenerator()

In [3]:
import pandas as pd
#orders = g.generate_orders(num_orders=20)
pd.DataFrame(orders).head(100)

,order_id,customer_id,product_id,order_timestamp,quantity,unit_price,total_price
0,1,1,4,2025-06-28T03:36:12.070714,4,462.25,1849.00
1,2,1,4,2023-12-09T13:10:12.139653,1,462.25,462.25
2,3,1,3,2024-04-18T10:27:25.403872,1,248.50,248.50
3,4,2,2,2025-07-24T15:11:01.859179,5,358.45,1792.25
4,5,2,5,2024-07-24T11:11:00.189003,5,315.04,1575.20
5,6,2,2,2025-04-07T18:40:28.838476,4,358.45,1433.80
6,7,3,3,2024-07-29T16:45:37.010697,4,248.50,994.00
7,8,3,1,2024-10-14T15:07:48.632857,2,275.99,551.98
8,9,3,4,2024-05-04T02:01:58.009336,5,462.25,2311.25
9,10,3,2,2024-09-09T03:15:11.131305,4,358.45,1433.80
10,11,4,5,2025-10-02T11:54:09.200298,3,315.04,945.12
11,12,4,1,2023-11-27T03:02:43.621518,1,275.99,275.99
12,13,4,4,2025-02-09T13:30:39.664082,1,462.25,462.25
13,14,4,3,2025-01-02T02:07:16.924954,4,248.50,994.00
14,15,4,4,2024-03-14T07:59:18.787868,1,462.25,462.25
15,16,5,2,2024-01-24T00:26:09.861358,3,358.45,1075.35
16,17,5,4,2024-01-12T16:43:18.437317,2,462.25,924.50
17,18,5,3,2024-02-02T22:55:47.418850,2,248.50,497.00
18,19,5,4,2024-01-28T04:20:55.632591,4,462.25,1849.00
19,20,5,1,2024-06-16T13:16:31.250957,3,275.99,827.97
20,21,7,2,2025-08-26T02:46:30.506605,2,358.45,716.90
21,22,7,5,2025-10-23T01:57:52.887398,5,315.04,1575.20
22,23,7,2,2024-06-20T11:57:52.414824,2,358.45,716.90
23,24,8,4,2024-11-27T18:08:34.374787,4,462.25,1849.00
24,25,8,3,2025-10-05T18:02:24.856829,5,248.50,1242.50
25,26,9,3,2025-09-24T18:33:54.765214,4,248.50,994.00
26,27,9,5,2024-08-11T00:40:24.316106,5,315.04,1575.20
27,28,10,1,2025-05-01T09:27:47.354402,2,275.99,551.98
28,29,10,2,2024-01-06T07:40:09.002254,4,358.45,1433.80

In [23]:
from faker import Faker
from faker_commerce import Provider
fake = Faker()
fake.add_provider(Provider)

fake.name()

'Gary James'

In [40]:
from faker import Faker
from faker.providers import DynamicProvider

medical_professions_provider = DynamicProvider(
     provider_name="medical_profession",
     elements=["dr.", "doctor", "nurse", "surgeon", "clerk"],
)

fake = Faker()

# then add new provider to faker instance
fake.add_provider(medical_professions_provider)

# now you can use:
fake.medical_profession()
# 'dr.'

'surgeon'

In [61]:
from datetime import datetime
import random
seed = int(datetime.utcnow().timestamp())
Faker.seed(seed)
random.seed(seed)

In [63]:
print("Seed:", seed)
print("Generated profession:", fake.medical_profession())
print("Random int:", random.randint(1, 100))

Seed: 1762376942
Generated profession: doctor
Random int: 87

In [76]:
datetime.utcnow()

datetime.datetime(2025, 11, 5, 21, 11, 16, 60874)